# Xcode
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/
xcuserdata/

# Generated
*.ipa
*.dSYM.zip
*.dSYM

# OS
.DS_Store

# Claude
.claude/
